## Ejercicio 1
Importa la libreria de `pandas` y `numpy`. ¿Qué versión de la librería `pandas` tienes?

In [6]:
import pandas as pd 
import numpy as np 

pandas.__version__

'1.2.4'

## Ejercicio 2
Lee el archivo CSV de la liga. Guarda el DataFrame en una variable llamada `df`. [Usa el método `read_csv` de `pandas`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html).

In [7]:
df_laliga = pd.read_csv("laliga.csv")
df_laliga

,Unnamed: 0,season,division,round,localTeam,visitorTeam,localGoals,visitorGoals,date,timestamp
0,26201,2005-06,1,1,Atletico de Bilbao,Real Sociedad,3,0,27/08/2005,1125093600
1,26202,2005-06,1,1,Alaves,Barcelona,0,0,27/08/2005,1125093600
2,26203,2005-06,1,1,Valencia,Betis,1,0,27/08/2005,1125093600
3,26204,2005-06,1,1,Atletico de Madrid,Zaragoza,0,0,28/08/2005,1125180000
4,26205,2005-06,1,1,Cadiz,Real Madrid,1,2,28/08/2005,1125180000
...,...,...,...,...,...,...,...,...,...,...
4935,36680,2017-18,1,38,Villarreal,Real Madrid,2,2,19/05/2018,1526680800
4936,36681,2017-18,1,38,Atletico de Bilbao,Espanol,0,1,20/05/2018,1526767200
4937,36682,2017-18,1,38,Barcelona,Real Sociedad,1,0,20/05/2018,1526767200
4938,36683,2017-18,1,38,Valencia,Deportivo,2,1,20/05/2018,1526767200
4939,36684,2017-18,1,38,Atletico de Madrid,Eibar,2,2,20/05/2018,1526767200

## Ejercicio 3
Obtén por pantalla los 4 primero registros

In [8]:
df_laliga.head(4)

,Unnamed: 0,season,division,round,localTeam,visitorTeam,localGoals,visitorGoals,date,timestamp
0,26201,2005-06,1,1,Atletico de Bilbao,Real Sociedad,3,0,27/08/2005,1125093600
1,26202,2005-06,1,1,Alaves,Barcelona,0,0,27/08/2005,1125093600
2,26203,2005-06,1,1,Valencia,Betis,1,0,27/08/2005,1125093600
3,26204,2005-06,1,1,Atletico de Madrid,Zaragoza,0,0,28/08/2005,1125180000

## Ejercicio 4
Obtén en un array de `numpy` todos los valores del DataFrame

In [10]:
np_laliga = np.array(df_laliga)
np_laliga

array([[26201, '2005-06', 1, ..., 0, '27/08/2005', 1125093600],
       [26202, '2005-06', 1, ..., 0, '27/08/2005', 1125093600],
       [26203, '2005-06', 1, ..., 0, '27/08/2005', 1125093600],
       ...,
       [36682, '2017-18', 1, ..., 0, '20/05/2018', 1526767200],
       [36683, '2017-18', 1, ..., 1, '20/05/2018', 1526767200],
       [36684, '2017-18', 1, ..., 2, '20/05/2018', 1526767200]],
      dtype=object)

## Ejercicio 5
¿Cuáles son las columnas de `df`?

In [11]:
df_laliga.columns

Index(['Unnamed: 0', 'season', 'division', 'round', 'localTeam', 'visitorTeam',
       'localGoals', 'visitorGoals', 'date', 'timestamp'],
      dtype='object')

## Ejercicio 6
Crea un `Series` con la [población de Madrid, Galicia, Murcia y Andalucía](https://es.wikipedia.org/wiki/Anexo:Comunidades_y_ciudades_aut%C3%B3nomas_de_Espa%C3%B1a). Llamalo `poblacion`.

- Madrid: 6685471
- Galicia: 2698764
- Murcia: 1494442
- Andalucía: 8446561

In [33]:
indi = np.array (['Madrid', 'Galicia', 'Murcia', 'Andalucía'])
pop = np.array ([6685471, 2698764,1494442,8446561])
poblacion = pd.Series(pop, index=indi)
poblacion

Madrid       6685471
Galicia      2698764
Murcia       1494442
Andalucía    8446561
dtype: int32

In [43]:
dataf = pd.DataFrame(poblacion)
dataf

                 0
Madrid     6685471
Galicia    2698764
Murcia     1494442
Andalucía  8446561

In [40]:
dataf = pd.DataFrame(pop, columns=['Población'], index=indi)
dataf

           Población
Madrid       6685471
Galicia      2698764
Murcia       1494442
Andalucía    8446561

## Ejercicio 7
Obtén un array de `numpy` con los valores del `Series`.

Saca también sus índices, y los valores de sus índices.

In [16]:
val_poblacion  = np.array([poblacion.values])
print(val_poblacion)
ind_poblacion = np.array([poblacion.index])
print(ind_poblacion)

[[6685471 2698764 1494442 8446561]]
[['Madrid' 'Galicia' 'Murcia' 'Andalucía']]

## Ejercicio 8
1. ¿Qué población hay en el primer elemento del `Series`?
2. ¿Qué población hay en Galicia?
3. Imprime por pantalla las poblaciones de Galicia, Andalucía y las comunidades autónomas que se encuentren entre ambas, dentro del `Series`.
4. Comprueba con un output booleano que `Galicia` se encuentra entre los índices del `Index`.
5. Realiza los apartados 1,2,3 pero esta vez de una manera diferente.

In [29]:
# 1.- 
poblacion1 = poblacion.index[0]
print(poblacion1)

# 2.-
pop_gal = poblacion["Galicia"]
print(pop_gal)

# 3.-.-
pop_gal2 = poblacion["Galicia":"Andalucía"]
print(pop_gal2)

# 4.-
if 'Galicia' in poblacion.index:
    output = True
else:
    output = False
print(output)

# 5.1.-
# 5.2.-
pop_gal = poblacion.values[1]
print(pop_gal)

# 5.3.-
pop_gal2 = poblacion[1:]
print(pop_gal2)

Madrid
2698764
Galicia      2698764
Murcia       1494442
Andalucía    8446561
dtype: int32
True
2698764
Galicia      2698764
Murcia       1494442
Andalucía    8446561
dtype: int32

## Ejercicio 9
A partir de las comunidades autónomas anteriores, crea un `Series` con [la tasa de paro](https://es.statista.com/estadisticas/941646/prevision-de-la-tasa-de-paro-por-comunidad-autonoma-espana/) en dichas comunidades autónomas.

Con la tasa de paro y las poblaciones, crea un DataFrame de pandas. Llámalo `data`.

- Madrid: 9.99
- Galicia: 11.74
- Murcia: 16.08
- Andalucía: 20.8

In [53]:
# Se crea el series con los datos del paro
paroNP  = np.array([9.99,11.74,16.08,20.8])
paro = pd.Series(paroNP, indi)
print(paro)
print(poblacion)

# Se insertan los datos de los series en un unico dataframe
data_lists = [poblacion, paro]
data = pd.DataFrame(data_lists, columns=['Población', 'Paro'], index= indi)
data

Madrid        9.99
Galicia      11.74
Murcia       16.08
Andalucía    20.80
dtype: float64
Madrid       6685471
Galicia      2698764
Murcia       1494442
Andalucía    8446561
dtype: int32

ValueError: Shape of passed values is (2, 2), indices imply (4, 2)

In [32]:
cols = ['a','b']
list_of_series = [pd.Series([1,2],index=cols), pd.Series([3,4],index=cols)]
df = pd.DataFrame(list_of_series, columns=cols)
print(df)

   a  b
0  1  2
1  3  4

## Ejercicio 10
Imprime por pantalla la población, y la tasa de paro. Por separado

## Ejercicio 11
Crea un nuevo Data Frame (`data2`), que sea igual que `data`, pero con una nueva columna, que lleve [la superficie de las Comunidades Autónomas](https://es.wikipedia.org/wiki/Anexo:Comunidades_y_ciudades_aut%C3%B3nomas_de_Espa%C3%B1a).

- Madrid: 8028
- Galicia: 29575
- Murcia: 11314
- Andalucía: 87599

## Ejercicio 12
Calcula la densidad de población (hab/km^2) en una nueva columna del dataframe `data2` que se llame `Densidad`.