# Python | Programación funcional

### Ejercicio 1.

1. Utiliza `reduce` para concatenar estas palabras en una frase
```Python
ejer_1 = ("to", "be", "or", "not", "to", "be", "that", "is", "the", "question")
```

In [2]:
from functools import reduce
ejer_1 = ("to", "be", "or", "not", "to", "be", "that", "is", "the", "question")
out_str = reduce(lambda x, y : x + " " + y, ejer_1)
out_str

'to be or not to be that is the question'

2. Obtén una nueva tupla con el cuadrado de cada elemento de la siguiente tupla

```Python
ejer_2 = (1,2,3,4,5)
```

In [3]:
ejer_2 = (1,2,3,4,5)
out_sqr = tuple(map(lambda x : x*x, ejer_2))
out_sqr

(1, 4, 9, 16, 25)

3. Filtra aquellos elementos que sean multiplos de 3 o de 5
```Python
ejer_3 = (1,2,3,4,5,15,21,22,33,34,35)
```

In [6]:
ejer_3 = (1,2,3,4,5,15,21,22,33,34,35)
fil_list = list(filter (lambda x: x % 3 == 0 or x % 5 == 0, ejer_3))
fil_list

[3, 5, 15, 21, 33, 35]

4. Convierte la siguiente tupla de pesetas a euros
```Python
ejer_4 = (1000, 8000, 20000000, 40000000)
```

In [9]:
ejer_4 = (1000, 8000, 20000000, 40000000)
euro_list = list(map(lambda x: round(x /166.666, 2) , ejer_4))
euro_list

[6.0, 48.0, 120000.48, 240000.96]

5. Convierte la siguiente lista de desconocidos a mayusculas
```Python
ejer_5 = ("Arya", "John", "Robb", "Bran", "Sansa", "Rickon")
```

In [10]:
ejer_5 = ("Arya", "John", "Robb", "Bran", "Sansa", "Rickon")
cap_list = list(map(lambda x : x.upper(), ejer_5))
cap_list

['ARYA', 'JOHN', 'ROBB', 'BRAN', 'SANSA', 'RICKON']

6. Realiza un conversor de dias de la semana en texto a numerico (1-7), usando `map`.
```Python
ejer_6 = ("Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado", "Domingo")
```

In [16]:
ejer_6 = ("Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado", "Domingo")

def strday_to_intday (stringday):
    if stringday == "Lunes": 
        x = 1 
    elif stringday == "Martes": 
        x = 2 
    elif stringday == "Miércoles": 
        x = 3 
    elif stringday == "Jueves": 
        x = 4 
    elif stringday == "Viernes": 
        x = 5 
    elif stringday == "Sábado": 
        x = 6 
    elif stringday == "Domingo": 
        x = 7
    else:
        x = "Error"
    return x

num_days = list(map(strday_to_intday, ejer_6))
num_days

[1, 2, 3, 4, 5, 6, 7]

7. Utiliza `map` para multiplicar elemento a elemento estas dos tuplas
```Python
ejer_7_1 = (2, 5, 8)
ejer_7_2 = (6, 3, 2)
```

In [18]:
ejer_7_1 = (2, 5, 8)
ejer_7_2 = (6, 3, 2)

def opt2 (num1, num2):
    return num1*num2

mul_opt1 = list(map(lambda x, y: x*y, ejer_7_1, ejer_7_2))
print(mul_opt1)
mul_opt2 = list(map(opt2, ejer_7_1, ejer_7_2))
print(mul_opt2)

[12, 15, 16]
[12, 15, 16]

8. Crea una tupla nueva con todos los coches que no sean VW :)

```Python
ejer_8 = ("VW", "Audi", "Renault", "VW", "BMW")
```

In [20]:
ejer_8 = ("VW", "Audi", "Renault", "VW", "BMW")

no_VW = tuple(filter(lambda x: x != "VW", ejer_8))
no_VW

('Audi', 'Renault', 'BMW')

9. Dadas las siguientes fechas en formato string, quedate con aquellas del año 2020

```Python
ejer_9 = ("2019-04-08", "2020-10-10", "2020-01-22", "2019-07-13", "2019-02-01")
```

In [24]:
from datetime import datetime, timedelta
ejer_9 = ("2019-04-08", "2020-10-10", "2020-01-22", "2019-07-13", "2019-02-01")
year2020= list(filter(lambda x: int(x[:4]) > 2019, ejer_9))
year2020

['2020-10-10', '2020-01-22']

10. Filtra aquellos strings que sean [palíndromos](https://es.wikipedia.org/wiki/Pal%C3%ADndromo)
```Python
ejer_10 = ("php", "w3r", "Python", "abcd", "Java", "aaa")
```

In [54]:
ejer_10 = ("php", "w3r", "Python", "abcd", "Java", "aaa")


def reverse_check (xlist):
    lista = list(xlist)
    for i in range(len(xlist)):
        if xlist[i] == xlist[-1-i]:
            out = True
        else:
            out = False
            break
    return out

pali =list(filter(reverse_check, ejer_10))
pali

['php', 'aaa']

### Bonus Track.

- Resuelve esta kata usando `map`
https://www.codewars.com/kata/554b4ac871d6813a03000035

Nota: si es demasiado difícil intenta resolverla sin usar `map` y si lo consigues, vuelve a resolverla usando `map`.

In this little assignment you are given a string of space separated numbers, and have to return the highest and lowest number.

Example:

high_and_low("1 2 3 4 5")  # return "5 1"

high_and_low("1 2 -3 4 5") # return "5 -3"

high_and_low("1 9 3 4 -5") # return "9 -5"


Notes:

All numbers are valid Int32, no need to validate them.
There will always be at least one number in the input string.
Output string must be two numbers separated by a single space, and highest number is first.

In [61]:
lista_test = ("1 2 3 4 5")

def high_and_low(numbers):
    list_num = numbers.split(sep = " ")
    num_list = list(map(lambda x : int(x),list_num))

    #search for the highest and lowest numbers
    lowest = num_list[0]
    highest = num_list[0]
    for item in num_list:
        if item > highest:
            highest = item
        if item < lowest:
            lowest = item
    numbers = str(highest) + " " + str(lowest)
    return numbers

print(high_and_low(lista_test))

5 1

In [55]:
help(str.split)

Help on method_descriptor:

split(self, /, sep=None, maxsplit=-1)
    Return a list of the words in the string, using sep as the delimiter string.

    sep
      The delimiter according which to split the string.
      None (the default value) means split according to any whitespace,
      and discard empty strings from the result.
    maxsplit
      Maximum number of splits to do.
      -1 (the default value) means no limit.