# 04 - Grouping

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Create the DataFrame with the following values:

In [2]:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'], 
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'], 
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'], 
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}

### Step 3. Assign it to a variable called regiment.

In [3]:
regiment = pd.DataFrame(raw_data)
regiment

      regiment company      name  preTestScore  postTestScore
0   Nighthawks     1st    Miller             4             25
1   Nighthawks     1st  Jacobson            24             94
2   Nighthawks     2nd       Ali            31             57
3   Nighthawks     2nd    Milner             2             62
4     Dragoons     1st     Cooze             3             70
5     Dragoons     1st     Jacon             4             25
6     Dragoons     2nd    Ryaner            24             94
7     Dragoons     2nd      Sone            31             57
8       Scouts     1st     Sloan             2             62
9       Scouts     1st     Piger             3             70
10      Scouts     2nd     Riani             2             62
11      Scouts     2nd       Ali             3             70

### Step 4. What is the mean preTestScore from the regiment Nighthawks?

In [20]:
regiMeanHawks = regiment.copy()
regiMeanHawks = regiMeanHawks.drop(columns = ['company', 'name'])
regiMeanHawks = regiMeanHawks.groupby('regiment').agg('mean')
regiMeanHawks

            preTestScore  postTestScore
regiment
Dragoons           15.50           61.5
Nighthawks         15.25           59.5
Scouts              2.50           66.0

In [23]:
regiMeanHawks['preTestScore']["Nighthawks"]

15.25


### Step 5. Present general statistics by company

In [29]:
regiGenComp = regiment.copy()
regiGenComp = regiGenComp.drop(columns = ['regiment', 'name'])
regiGenComp = regiGenComp.groupby('company').agg(['min','max','mean','median'])
regiGenComp

        preTestScore                       postTestScore
                 min max       mean median           min max       mean median
company
1st                2  24   6.666667    3.5            25  94  57.666667     66
2nd                2  31  15.500000   13.5            57  94  67.000000     62

### Step 6. What is the mean of each company's preTestScore?

In [12]:
meancompany = regiment.copy()
meancompany = meancompany.drop(columns = ['regiment', 'name','postTestScore'])
meancompany = meancompany.groupby('company').agg('mean')
meancompany

         preTestScore
company
1st          6.666667
2nd         15.500000

### Step 7. Present the mean preTestScores grouped by regiment and company

In [14]:
meanregcompany = regiment.copy()
meanregcompany = meanregcompany.drop(columns = ['name','postTestScore'])
meanregcompany = meanregcompany.groupby(['regiment','company']).agg('mean')
meanregcompany

                    preTestScore
regiment   company
Dragoons   1st               3.5
           2nd              27.5
Nighthawks 1st              14.0
           2nd              16.5
Scouts     1st               2.5
           2nd               2.5

### Step 8. Present the mean preTestScores grouped by regiment and company without heirarchical indexing

In [39]:
nohieindex = regiment.copy()
nohieindex['Regiment - Company'] = nohieindex['regiment'] + ' - ' + nohieindex['company'] 
nohieindex = nohieindex.drop(columns= ['regiment','company'])
nohieindex = nohieindex.groupby ('Regiment - Company').mean()
nohieindex

                    preTestScore  postTestScore
Regiment - Company
Dragoons - 1st               3.5           47.5
Dragoons - 2nd              27.5           75.5
Nighthawks - 1st            14.0           59.5
Nighthawks - 2nd            16.5           59.5
Scouts - 1st                 2.5           66.0
Scouts - 2nd                 2.5           66.0

### Step 9. Group the entire dataframe by regiment and company

In [15]:
regcompany = regiment.copy()
regcompany = regcompany.groupby(['regiment','company']).agg('mean')
regcompany

                    preTestScore  postTestScore
regiment   company
Dragoons   1st               3.5           47.5
           2nd              27.5           75.5
Nighthawks 1st              14.0           59.5
           2nd              16.5           59.5
Scouts     1st               2.5           66.0
           2nd               2.5           66.0

### Step 10. What is the number of observations in each regiment and company

In [33]:
obscompany = regiment.copy()
obscompany = obscompany.drop(columns = ['preTestScore','postTestScore','name'])
obscompany['observations'] = 1
obscompany = obscompany.groupby(['regiment','company']).sum()
obscompany

                    observations
regiment   company
Dragoons   1st                 2
           2nd                 2
Nighthawks 1st                 2
           2nd                 2
Scouts     1st                 2
           2nd                 2

### Step 11. Iterate over a group and print the name and the whole data from the regiment

In [50]:
regiment

      regiment company      name  preTestScore  postTestScore
0   Nighthawks     1st    Miller             4             25
1   Nighthawks     1st  Jacobson            24             94
2   Nighthawks     2nd       Ali            31             57
3   Nighthawks     2nd    Milner             2             62
4     Dragoons     1st     Cooze             3             70
5     Dragoons     1st     Jacon             4             25
6     Dragoons     2nd    Ryaner            24             94
7     Dragoons     2nd      Sone            31             57
8       Scouts     1st     Sloan             2             62
9       Scouts     1st     Piger             3             70
10      Scouts     2nd     Riani             2             62
11      Scouts     2nd       Ali             3             70

In [58]:
for row in regiment.iterrows():
    nameregcomp = f" The captain {row[1]['name']} leads the {row[1]['company']} of the {row[1]['regiment']};\n"
    scores = f"which had a score of {row[1]['preTestScore']} in the pretest and a score of {row[1]['postTestScore']} in the post test"

    	
    print(nameregcomp+scores)
    print('--------------------------------------------------------')

 The captain Miller leads the 1st of the Nighthawks;
which had a score of 4 in the pretest and a score of 25 in the post test
-------------------------------
 The captain Jacobson leads the 1st of the Nighthawks;
which had a score of 24 in the pretest and a score of 94 in the post test
-------------------------------
 The captain Ali leads the 2nd of the Nighthawks;
which had a score of 31 in the pretest and a score of 57 in the post test
-------------------------------
 The captain Milner leads the 2nd of the Nighthawks;
which had a score of 2 in the pretest and a score of 62 in the post test
-------------------------------
 The captain Cooze leads the 1st of the Dragoons;
which had a score of 3 in the pretest and a score of 70 in the post test
-------------------------------
 The captain Jacon leads the 1st of the Dragoons;
which had a score of 4 in the pretest and a score of 25 in the post test
-------------------------------
 The captain Ryaner leads the 2nd of the Dragoons;
which had a score of 24 in the pretest and a score of 94 in the post test
-------------------------------
 The captain Sone leads the 2nd of the Dragoons;
which had a score of 31 in the pretest and a score of 57 in the post test
-------------------------------
 The captain Sloan leads the 1st of the Scouts;
which had a score of 2 in the pretest and a score of 62 in the post test
-------------------------------
 The captain Piger leads the 1st of the Scouts;
which had a score of 3 in the pretest and a score of 70 in the post test
-------------------------------
 The captain Riani leads the 2nd of the Scouts;
which had a score of 2 in the pretest and a score of 62 in the post test
-------------------------------
 The captain Ali leads the 2nd of the Scouts;
which had a score of 3 in the pretest and a score of 70 in the post test
-------------------------------