# 06 - Combining datasets

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [7]:
import pandas as pd 
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [30]:
serie1 = pd.Series(np.random.randint(1,4,100))
serie2 = pd.Series(np.random.randint(1,3,100))
serie3 = pd.Series(np.random.randint(10000,30000,100))
serie3.keys()

RangeIndex(start=0, stop=100, step=1)

### Step 3. Let's create a DataFrame by joinning the Series by column

In [32]:
data1 = pd.DataFrame(serie1)
data2 = pd.DataFrame(serie2)
data3 = pd.DataFrame(serie3)
df = pd.concat([data1[0], data2[0], data3[0]], axis=1, keys=[0,1,2])
df

    0  1      2
0   2  1  22507
1   1  2  19017
2   3  2  25640
3   3  1  10307
4   3  2  18316
.. .. ..    ...
95  1  1  23442
96  2  2  22919
97  1  1  21913
98  3  2  21925
99  2  2  10772

[100 rows x 3 columns]

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [35]:
df1 = df.rename(columns={0:'bedrs', 1:'bathrs', 2:'price_sqr_meter'})
df1

    bedrs  bathrs  price_sqr_meter
0       2       1            22507
1       1       2            19017
2       3       2            25640
3       3       1            10307
4       3       2            18316
..    ...     ...              ...
95      1       1            23442
96      2       2            22919
97      1       1            21913
98      3       2            21925
99      2       2            10772

[100 rows x 3 columns]

### Step 5. Create a column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [36]:
big_column = pd.concat([data1[0], data2[0], data3[0]], axis=0)
big_column

0         2
1         1
2         3
3         3
4         3
      ...
95    23442
96    22919
97    21913
98    21925
99    10772
Name: 0, Length: 300, dtype: int32

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [ ]:
No, lenght= 300, but index = 99

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [38]:
bg = big_column.reset_index()
bg

     index      0
0        0      2
1        1      1
2        2      3
3        3      3
4        4      3
..     ...    ...
295     95  23442
296     96  22919
297     97  21913
298     98  21925
299     99  10772

[300 rows x 2 columns]