# OPCIÓN 1: el archivo está en la misma carpeta

In [2]:
import pandas as pd 
import os

my_folder = os.getcwd()
my_folder

'c:\\Users\\miguel\\Desktop\\TheBridgeDataScientist\\TareasTheBridge\\week4_EDA_np_pd_json_apis_regex\\day3_numpy_pandas_III_json\\theory\\python\\example_pandas'

In [3]:
my_folder = my_folder + os.sep + 'laliga.csv'
my_folder

'c:\\Users\\miguel\\Desktop\\TheBridgeDataScientist\\TareasTheBridge\\week4_EDA_np_pd_json_apis_regex\\day3_numpy_pandas_III_json\\theory\\python\\example_pandas\\laliga.csv'

In [8]:
df = pd.read_csv("laliga.csv")   # cargaría el archivo si está en la misma carpeta
df

,Unnamed: 0,season,division,round,localTeam,visitorTeam,localGoals,visitorGoals,date,timestamp
0,26201,2005-06,1,1,Atletico de Bilbao,Real Sociedad,3,0,27/08/2005,1125093600
1,26202,2005-06,1,1,Alaves,Barcelona,0,0,27/08/2005,1125093600
2,26203,2005-06,1,1,Valencia,Betis,1,0,27/08/2005,1125093600
3,26204,2005-06,1,1,Atletico de Madrid,Zaragoza,0,0,28/08/2005,1125180000
4,26205,2005-06,1,1,Cadiz,Real Madrid,1,2,28/08/2005,1125180000
...,...,...,...,...,...,...,...,...,...,...
4935,36680,2017-18,1,38,Villarreal,Real Madrid,2,2,19/05/2018,1526680800
4936,36681,2017-18,1,38,Atletico de Bilbao,Espanol,0,1,20/05/2018,1526767200
4937,36682,2017-18,1,38,Barcelona,Real Sociedad,1,0,20/05/2018,1526767200
4938,36683,2017-18,1,38,Valencia,Deportivo,2,1,20/05/2018,1526767200
4939,36684,2017-18,1,38,Atletico de Madrid,Eibar,2,2,20/05/2018,1526767200

# OPCIÓN 2: el archivo está en una carpeta superior

In [5]:
# subo una carpeta a mi carpeta actual
os.path.dirname(os.getcwd()) + os.sep + 'laliga.csv'

'c:\\Users\\miguel\\Desktop\\TheBridgeDataScientist\\TareasTheBridge\\week4_EDA_np_pd_json_apis_regex\\day3_numpy_pandas_III_json\\theory\\python\\laliga.csv'

In [9]:
df = pd.read_csv("../laliga.csv")   # cargaría el archivo si está en la misma carpeta
df

,Unnamed: 0,season,division,round,localTeam,visitorTeam,localGoals,visitorGoals,date,timestamp
0,26201,2005-06,1,1,Atletico de Bilbao,Real Sociedad,3,0,27/08/2005,1125093600
1,26202,2005-06,1,1,Alaves,Barcelona,0,0,27/08/2005,1125093600
2,26203,2005-06,1,1,Valencia,Betis,1,0,27/08/2005,1125093600
3,26204,2005-06,1,1,Atletico de Madrid,Zaragoza,0,0,28/08/2005,1125180000
4,26205,2005-06,1,1,Cadiz,Real Madrid,1,2,28/08/2005,1125180000
...,...,...,...,...,...,...,...,...,...,...
4935,36680,2017-18,1,38,Villarreal,Real Madrid,2,2,19/05/2018,1526680800
4936,36681,2017-18,1,38,Atletico de Bilbao,Espanol,0,1,20/05/2018,1526767200
4937,36682,2017-18,1,38,Barcelona,Real Sociedad,1,0,20/05/2018,1526767200
4938,36683,2017-18,1,38,Valencia,Deportivo,2,1,20/05/2018,1526767200
4939,36684,2017-18,1,38,Atletico de Madrid,Eibar,2,2,20/05/2018,1526767200

# OPCIÓN 3: está en una carpeta superior, pero dentro de otra carpeta (árbol de carpetas)

In [4]:
df = pd.read_csv("../paths/laliga.csv")   # cargaría el archivo si está en una carpeta del directorio actual
df

,Unnamed: 0,season,division,round,localTeam,visitorTeam,localGoals,visitorGoals,date,timestamp
0,26201,2005-06,1,1,Atletico de Bilbao,Real Sociedad,3,0,27/08/2005,1125093600
1,26202,2005-06,1,1,Alaves,Barcelona,0,0,27/08/2005,1125093600
2,26203,2005-06,1,1,Valencia,Betis,1,0,27/08/2005,1125093600
3,26204,2005-06,1,1,Atletico de Madrid,Zaragoza,0,0,28/08/2005,1125180000
4,26205,2005-06,1,1,Cadiz,Real Madrid,1,2,28/08/2005,1125180000
...,...,...,...,...,...,...,...,...,...,...
4935,36680,2017-18,1,38,Villarreal,Real Madrid,2,2,19/05/2018,1526680800
4936,36681,2017-18,1,38,Atletico de Bilbao,Espanol,0,1,20/05/2018,1526767200
4937,36682,2017-18,1,38,Barcelona,Real Sociedad,1,0,20/05/2018,1526767200
4938,36683,2017-18,1,38,Valencia,Deportivo,2,1,20/05/2018,1526767200
4939,36684,2017-18,1,38,Atletico de Madrid,Eibar,2,2,20/05/2018,1526767200

# OPCIÓN 4: está en una carpeta inferior, dentro de una carpeta en el directorio actual

In [3]:
df = pd.read_csv("a/laliga.csv")   # cargaría el archivo si está en una carpeta del directorio actual
df

,Unnamed: 0,season,division,round,localTeam,visitorTeam,localGoals,visitorGoals,date,timestamp
0,26201,2005-06,1,1,Atletico de Bilbao,Real Sociedad,3,0,27/08/2005,1125093600
1,26202,2005-06,1,1,Alaves,Barcelona,0,0,27/08/2005,1125093600
2,26203,2005-06,1,1,Valencia,Betis,1,0,27/08/2005,1125093600
3,26204,2005-06,1,1,Atletico de Madrid,Zaragoza,0,0,28/08/2005,1125180000
4,26205,2005-06,1,1,Cadiz,Real Madrid,1,2,28/08/2005,1125180000
...,...,...,...,...,...,...,...,...,...,...
4935,36680,2017-18,1,38,Villarreal,Real Madrid,2,2,19/05/2018,1526680800
4936,36681,2017-18,1,38,Atletico de Bilbao,Espanol,0,1,20/05/2018,1526767200
4937,36682,2017-18,1,38,Barcelona,Real Sociedad,1,0,20/05/2018,1526767200
4938,36683,2017-18,1,38,Valencia,Deportivo,2,1,20/05/2018,1526767200
4939,36684,2017-18,1,38,Atletico de Madrid,Eibar,2,2,20/05/2018,1526767200